body {
    padding-top: 56px;
    margin: 0;
}

html,
body,
#map {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.leaflet-popup-content-wrapper {
    background: rgb(245, 245, 245);
    border-radius: 0px;
}

.popupimg {
    border: 1px solid #ddd;
    border-radius: 4px;
    left: 50%;
    padding: 5px;
    width: 300px;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}